NODE_ENV=development
PORT=3000
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
CONTRACT_ID=CBTJBMSGTH5WZWJEYQNFTUPZENECTMVUFO57TCYM4T5UBGNXQD44H4TP
